<html>
    <head>
        <meta charset="utf-8"/>

        <title><%block name="title"/></title>

        <script src="${attributes['relative_path']}assets/jquery.min.js"></script>
        <script src="${attributes['relative_path']}assets/dataTables.min.js"></script>
        <script src="${attributes['relative_path']}assets/bootstrap.min.js"></script>

        <link rel="stylesheet" href="${attributes['relative_path']}assets/dataTables.min.css">
        <link rel="stylesheet" href="${attributes['relative_path']}assets/bootstrap.min.css">
        <link rel="stylesheet" href="${attributes['relative_path']}assets/scorecard_custom.css">

    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <span class="text-success mr-4"><strong>
                Tech Ethics Scorecard
            </strong></span>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="${attributes['relative_path']}">
                        Scorecard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="${attributes['relative_path']}companies/">
                        Companies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="${attributes['relative_path']}metrics/">
                        Metrics</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="${attributes['relative_path']}contribute/">Contribute</a>
                </li>
                </ul>
            </div>            
        </nav>

        <%block name="page_content">
        </%block>

        <div class="container" id="footer"><div class="row"><div class="col-lg-12 py-4">              
        </div></div>

    </body>
</html>


