<%inherit file="base.html"/>

<%block name="title">
    Companies - Ethics Scorecard for Tech Companies
</%block>

<%block name="page_content">

        <div class="container">

            <div class="row"><div class="col-lg-12 text-center py-4">
                <h3 class="text-muted">Companies</h3>                 
            </div></div>

            <div class="row"><div class="col-lg-12 py-4">
            % for company_name, company_data in attributes['companies'].items():

                <h5>
                    <a href="${attributes['relative_path']}companies/${company_name}">
                        ${company_data['FullCompanyName']}</a>

                    % if company_data['AlsoKnownAs']:
                        <span class="text-muted pl-4"> also known as 
                            % for altname in company_data['AlsoKnownAs']:
                                % if loop.index is not 0:
                                    , 
                                % endif
                                ${altname}
                            % endfor
                        </span>
                    % endif

                    <span class="badge badge-primary ml-4 mr-4">Metrics
                        <span class="badge badge-secondary badge-pill">
                            ${company_data['MetricCount']}</span>
                    </span>
                </h5>

            % endfor 
            </div></div>

        </div>

</%block>