<%inherit file="base.html"/>

<%block name="title">
    ${attributes['FullCompanyName']} - Ethics Scorecard for Tech Companies
</%block>

<%block name="page_content">

        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center py-4">

                    <h3>${attributes['FullCompanyName']}</h3>  

                    % if attributes['AlsoKnownAs']:
                        <h5 class="text-muted">also known as:
                                % for altname in attributes['AlsoKnownAs']:
                                    % if loop.index is not 0:
                                        , 
                                    % endif
                                    ${altname}
                                % endfor
                        </h5>
                    % endif

                    % if attributes['AdditionalInfo']:
                        ${attributes['AdditionalInfo']}
                    % endif
                </div>
            </div>

            % for metric, metric_data in attributes['metrics'].items():
                <div class="row">
                    <div class="col-lg-8 offset-lg-2 py-4" id="${metric_data['FullMetricName']}">

                            <div class="card border-primary mb-3">

                                <div class="card-header">
                                    <a href="${attributes['relative_path']}metrics/${metric}"
                                        class="text-primary">
                                        <strong>${metric_data['FullMetricName']}</strong>
                                    </a>
                                </div>
                                
                                <div class="card-body">
                                
                                    <h5 class="card-title">Score:

                                        % if metric_data['ScoreType'] == "Green":
                                            <span class="text-success">
                                        % elif metric_data['ScoreType'] == "Yellow":
                                            <span class="text-warning">
                                        % else:
                                            <span class="text-danger">
                                        % endif
                                        ${metric_data['Score']}</span>
                                    
                                    </h5>
                                
                                    <p class="card-text">${metric_data['Explanation']}</p>
                                
                                </div>
                                
                                <div class="card-body">

                                    % if metric_data['FurtherResources']['Groups'] or metric_data['FurtherResources']['Flyers'] or metric_data['FurtherResources']['Articles']:
                                
                                        <h5 class="card-title">Further Resources</h5>
                                    
                                            % if metric_data['FurtherResources']['Groups']:
                                                Groups: 
                                                <ul>
                                                % for group in metric_data['FurtherResources']['Groups']:
                                                    <li>
                                                        <a href="${group['Link']}">${group['LinkText']}</a>
                                                    </li>
                                                % endfor
                                                </ul>
                                            % endif
                                        
                                            % if metric_data['FurtherResources']['Flyers']:
                                                Flyers: 
                                                <ul>
                                                % for flyer in metric_data['FurtherResources']['Flyers']:
                                                    <li>
                                                        <a href="${flyer['Link']}">${flyer['LinkText']}</a>
                                                    </li>
                                                % endfor
                                                </ul>
                                            % endif
                                        
                                            % if metric_data['FurtherResources']['Articles']:
                                                Articles: 
                                                <ul>
                                                % for article in metric_data['FurtherResources']['Articles']:
                                                    <li>
                                                        <a href="${article['Link']}">${article['LinkText']}</a>
                                                    </li>
                                                % endfor 
                                                </ul>
                                            % endif

                                        % endif
                                </div>
                            </div>

                    </div>
                </div>
            % endfor
                 

        </div>

</%block>

      