<%inherit file="base.html"/>

<%block name="title">
    Contribute - Ethics Scorecard for Tech Companies
</%block>

<%block name="page_content">

        <div class="container" id="table">
            <div class="row"><div class="col-lg-6 offset-lg-3 text-center py-4">
                <h3 class="text-muted">Contribute</h3>                 
            </div></div>

            <div class="row"><div class="col-lg-12">
                <p>The Tech Ethics Scorecard is a collaborative project, and anyone is welcome to join
                provided they abide by our 
                <a href="https://gitlab.com/EthicsScorecard/website/blob/master/code_of_conduct.md">Code of Conduct</a>.  We are especially looking 
                for help with:</p>

                <ul>
                    <li>Deciding what metrics should be included and coming up with fair evaluation criteria</li>
                    <li>Rating companies according to established evaluation critera</li>
                    <li>Adding links to groups, reports, articles and other resources for users who want to learn more about companies and issues</li>
                    <li>Creating flyers to raise awareness about companies' ethical issues</li>
                </ul>

                <p>To join, please visit <a href="https://gitlab.com/EthicsScorecard">our organization on 
                Gitlab</a>, or email us at ethics dot scorecard at gmail dot com.</p>

                <p>You can also <a href="https://twitter.com/EthicsScorecard">follow us on Twitter</a>.</p>
                
            </div></div>
        </div>
    

</%block>