<%inherit file="base.html"/>

<%block name="title">
    Ethics Scorecard for Tech Companies
</%block>

<%block name="page_content">

        <div class="container" id="table">
            <div class="row"><div class="col-lg-6 offset-lg-3 text-center py-4">
                <h3 class="text-muted">Move Carefully and Fix Things</h3>                 
            </div></div>

            <div class="row"><div class="col-lg-10 offset-lg-1 mb-4">
                <h5>We believe that technology can be a force for good, but only if we hold ourselves
                accountable. This project tracks company performance on the ethical issues facing the
                tech industry. Together, we can all do better.</h5>
            </div></div>

            <div class="row"><div class="col-lg-12">
                    <table id="scorecard"></table>
            </div></div>
        </div>

        <script>
            
            // Stops Firefox from telling us our JSON is "not well-formed".  YOU'RE not 
            // well-formed, Firefox. 
            $.ajaxSetup({beforeSend: function(xhr){if (xhr.overrideMimeType)
                {xhr.overrideMimeType("application/json");}}});


            function getData() {
                return $.getJSON('data/scorecard.json');
            }

            getData().then(function(getDataResults) {
                
                // Additional settings
                getDataResults["paging"] = false;


                // When creating cell, make use of extra data 
                var columnDefs = [
                    {   // Human-readable company names
                        targets: [0],
                        render: { _: 'display'},
                        createdCell: function (td, cellData, rowData, row, col) {
                            $(td).attr('id', cellData.shortname);  }
                    },
                    {   // Changes background color based on score type
                        targets: "_all",
                        render: function ( data, type, row ) {
                            if (typeof data == 'undefined') {
                                return "";
                            }
                            return data.display;
                        },
                        createdCell: function (td, cellData, rowData, row, col) {
                            $(td).addClass(cellData.score_type);  }
                    }
                ]                  

                getDataResults["columnDefs"] = columnDefs; 


                // Fill datatable rows with returned data.
                var scorecard = $('#scorecard').DataTable(getDataResults);


                // Make cells clickable so users can get more info.
                scorecard.on('click', 'tbody td', function() {

                    // Get the metric name from the header of the column
                    var columns = scorecard.settings().init().columns;
                    var colIdx = scorecard.cell( this ).index().column;
                    var metric = columns[colIdx].name;

                    // Get the company name from the first cell in the row
                    var rowIdx = scorecard.cell( this ).index().row;
                    var rowData = scorecard.row(rowIdx).data();
                    var company = rowData["CompanyName"]["shortname"];

                    // If we've clicked the company name column, just go to the top of the page
                    if (colIdx == 0) {
                        window.location.href = '/companies/' + company;
                    } else {  // Otherwise go to the specific anchor
                        window.location.href = '/companies/' + company + '/#' + metric;
                    }
                    
                });
            });
        
        </script>

</%block>