<%inherit file="base.html"/>

<%block name="title">
    Metrics - Ethics Scorecard for Tech Companies
</%block>

<%block name="page_content">

        <div class="container">

            <div class="row"><div class="col-lg-12 text-center py-4">
                <h3 class="text-muted">Metrics</h3>                 
            </div></div>

            <div class="row"><div class="col-lg-12 py-4">
            % for metric_name, metric_data in attributes['metrics'].items():

                <h5>
                    <a href="${attributes['relative_path']}metrics/${metric_name}">
                        ${metric_data['FullMetricName']}</a>

                    <span class="badge badge-primary mx-4">Companies
                        <span class="badge badge-secondary badge-pill">
                            ${metric_data['CompanyCount']}</span>
                    </span>
                </h5>

            % endfor 
            </div></div>

        </div>

</%block>