<%inherit file="base.html"/>

<%block name="title">
    ${attributes['FullMetricName']} - Ethics Scorecard for Tech Companies
</%block>

<%block name="page_content">

        <div class="container">

            <div class="row">
                <div class="col-lg-12 text-center py-4">
                    <h3>${attributes['FullMetricName']}</h3>

                    % if attributes['MetricSource']:
                    <h5 class="text-muted py-4">developed by
                        <a href="${attributes['MetricSource']['SourceLink']}">
                            ${attributes['MetricSource']['SourceName']}</a>
                    </h5>
                    % endif

                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">

                    <h4 class="py-4 text-center">Why this metric?</h4>

                    <p>${attributes['WhyThisMetric']}</p>

                    <h4 class="py-4 text-center">How the metric works</h4>

                    <p>${attributes['HowTheMetricWorks']}</p>

                    % if attributes['AdditionalInfo']:
                        <h4 class="py-4 text-center">Additional information</h4>

                        <p>${attributes['AdditionalInfo']}</p>
                    % endif

                </div>
            </div>

            % for company, company_data in attributes['companies'].items():
            <div class="row">
                <div class="col-lg-8 offset-lg-2 py-4" id="${company}">

                    <div class="card border-primary mb-3">

                        <div class="card-header">
                            <a href="${attributes['relative_path']}companies/${company}"
                                class="text-primary">
                                <strong>${company}</strong>
                            </a>
                        </div>
                        
                        <div class="card-body">
                        
                            <h5 class="card-title">Score:

                                % if company_data['ScoreType'] == "Green":
                                    <span class="text-success">
                                % elif company_data['ScoreType'] == "Yellow":
                                    <span class="text-warning">
                                % else:
                                    <span class="text-danger">
                                % endif
                                ${company_data['Score']}</span>
                            
                            </h5>
                        
                            <p class="card-text">${company_data['Explanation']}</p>
                        
                        </div>
                        
                        <div class="card-body">

                            % if company_data['FurtherResources']['Groups'] or company_data['FurtherResources']['Flyers'] or company_data['FurtherResources']['Articles']: 
                        
                                <h5 class="card-title">Further Resources</h5>
                            
                                % if company_data['FurtherResources']['Groups']:
                                    Groups: 
                                    <ul>
                                    % for group in company_data['FurtherResources']['Groups']:
                                        <li>
                                            <a href="${group['Link']}">${group['LinkText']}</a>
                                        </li>
                                    % endfor
                                    </ul>
                                % endif
                            
                                % if company_data['FurtherResources']['Flyers']:
                                    Flyers: 
                                    <ul>
                                    % for flyer in company_data['FurtherResources']['Flyers']:
                                        <li>
                                            <a href="${flyer['Link']}">${flyer['LinkText']}</a>
                                        </li>
                                    % endfor
                                    </ul>
                                % endif
                            
                                % if company_data['FurtherResources']['Articles']:
                                    Articles: 
                                    <ul>
                                    % for article in company_data['FurtherResources']['Articles']:
                                        <li>
                                            <a href="${article['Link']}">${article['LinkText']}</a>
                                        </li>
                                    % endfor 
                                    </ul>
                                % endif

                            %endif

                        </div>
                    </div>

                </div>
            </div>
        % endfor

        
        </div>

</%block>

      