.green {
    /* background-color: rgba(24, 188, 156, 1); */
    background-color: rgba(23, 188, 100, 1);
    color: white;
    font-weight: bold;
}

.red {
    background-color: rgba(231, 76, 60, 1);
    color: white;
    font-weight: bold;
}

.yellow {
    background-color: rgb(250, 237, 58);
    color: #2C3E50;
    font-weight: bold;
}